.footer {
    background-color: #1A1C1D;
    color: #EEF4F5;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 30px 20px;
    border-top: 1px solid rgba(238, 244, 245, 0.1); 
    margin-top: 100px;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .footer-logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .footer-logo {
    width: 230px;
    height: 64px;
    object-fit: contain;
  }
  
  .footer-title {
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 103%;
    color: #EEF4F5;
  }
  
  .footer-copy {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    margin-top: 8px;
    color: #EEF4F5;
  }
  

  @media (max-width: 600px) {
    .footer-logo-text {
      flex-direction: column;
      gap: 5px;
    }
  
    .footer-logo {
      width: 180px;
      height: auto;
    }
  
    .footer-title {
      font-size: 16px;
    }
  
    .footer-copy {
      font-size: 14px;
    }
  }
  