.carousel-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 100px;
  position: relative;
}

.carousel-header {
  width: 85%; 
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 40px;
}

.carousel-title {
  font-size: 2rem;
  color: #f2f6f8;
  font-weight: 600;
  text-align: left;
}

.carousel-container {
  position: relative;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  cursor: grab;
  overflow: hidden;
  width: 100%;
  border-radius: 30px;
}

.inner {
  display: flex;
  gap: 20px;
}

.item {
  min-width: 80%;
  user-select: none;
}

.item img {
  width: 100%;
  border-radius: 30px;
  pointer-events: none;
}


.indicator-wrapper {
  background: rgba(34, 39, 42, 0.8); 
  border-radius: 30px;
  padding: 8px 24px;   
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15); 
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: transparent;      
  border: 2px solid #6b6b6b;  
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  box-sizing: border-box;
}

.dot.active {
  width: 16px;
  height: 16px;
  background: #6cbcd8;         
  border: 2px solid #6cbcd8;    
}