@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.suporte-bg{
        min-height: 100vh;
        background-color: #EEF4F5;
        font-family: 'Poppins', sans-serif;
}