.titulo {
    color: #EEF4F5;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    text-align: left !important;
    width: 100%; 
}


.txt{
    color: #EEF4F5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
}
.img-nenem{
    width: 100%;
}
.section-bebe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-left: 10rem;
}

@media (max-width: 992px) {
  .section-bebe {
    padding: 2rem;
    height: auto;
    align-items: center;
    text-align: center;
  }

  .titulo {
    font-size: 34px !important;
  }

  .txt {
    font-size: 18px;
  }

  .img-nenem {
    width: 80%;
    margin-top: 20px;
  }
}

/* 📱 Mobile */
@media (max-width: 576px) {
  .titulo {
    font-size: 28px !important;
  }

  .txt {
    font-size: 16px;
  }

  .img-nenem {
    width: 100%;
  }
}