.titulo {
    color: #EEF4F5;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    text-align: left !important;
    width: 100%; 
}


.txt{
    color: #EEF4F5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
}
.img-nenem{
    width: 100%;
}
.section-bebe{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: flex-start;  
  height: 100vh;            
  padding-left: 10rem;   
}