@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --texto-principal: #EEF4F5;
  --texto-secundario: #B3C1C3;
  --cor-botao: #6CBBD8;
  --fundo: #191B1C;
}

.container-produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
}

/* ===== IMAGEM ===== */
.img-produto {
  width: 180px;
  height: 360px;
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 20px;
}


.nome-produto {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30;
  color: var(--texto-principal);
  margin: 0;
}

.info-Produto {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--texto-secundario);
  font-size: 12px;
  margin: 0;
}

.btn-produto {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-botao);
  color: var(--fundo);
  width: 120px;
  height: 34px;
  border-radius: 12px;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  margin-top: 14px;
}




@media (max-width: 768px) {
  .container-produto {
    margin-bottom: 60px;
  }

  .linha {
    display: none;
  }

  .img-produto {
    width: 160px;
    height: 320px;
  }

  .btn-produto {
    width: 110px;
    height: 32px;
  }
}
