.carrosel-container {
  width: 680px; 
  height: 625px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.carrosel-slide {
  width: 100%;
  height: 100%;
}

.fake-img {
  width: 100%;
  height: 100%;
  background-color: #E0EBED; 
  border-radius: 25px;
}

.carrosel-indicators {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #E0EBED;
  padding: 6px 10px;
  border-radius: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #8ca1a6; 
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  width: 12px;
  height: 12px;
  background: #6CBBD8;
}
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
@media (max-width: 1199px) {

  .carrosel-container {
    width: 100%;
    height: auto; 
    max-width: 450px;
  }

  .fake-img {
    height: 320px; 
  }

  .carrosel-indicators {
    transform: scale(0.95);
  }
}


@media (max-width: 767px) {

  .carrosel-container {
    width: 100%;
    height: auto;
  }

  .fake-img {
    height: 260px; 
  }

  .carrosel-indicators {
    transform: scale(0.9);
  }
}