@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.main {
    display: flex;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
    background-color: #0E1012; 
  }
  
  .Texto-e-btn {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center; 
    height: 100%; 
    padding-left: 8vw; 
    padding-top: 6vw; 
    margin-top: -80px; 
  }
  
.titulo{
    color: #EEF4F5;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
}

p{
    color: #EEF4F5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
}
.btn-comprar{
    width: 157px;
    height: 54px;
    background-color: #6CBBD8 !important;
    border-radius: 15px;
    border: none;
    margin-right: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.btn-app {
  width: 183px;
  height: 54px;
  border-radius: 15px;
  border: 1px solid #B3C1C3;
  background-color: transparent;
  color: #B3C1C3;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;

}
.img-celular {
    width: 100%;
    margin-top: -200px; 
    margin-right: 150px;
  }
.botoes {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
  }

  @media (max-width: 992px) {
    .main {
      flex-direction: column;
      text-align: center;
      padding: 60px 20px;
    }
  
    .Texto-e-btn {
      padding-left: 0;
      padding-top: 0;
      margin-top: 0;
      align-items: center;
    }
  
    .titulo {
      font-size: 45px;
    }
  
    p {
      font-size: 18px;
    }
  
    .img-celular {
      width: 80%;
      margin: 40px 0 0 0;
    }
  
    .botoes {
      flex-direction: column;
      align-items: center;
    }
  
    .btn-comprar,
    .btn-app {
      width: 200px;
      margin: 8px 0;
    }
  }